<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloWorld" class="com.example.training.HelloWorld">
		<property name="service" ref="helloService"></property>
	</bean>

	<bean id="helloService"
		class="com.example.training.service.HelloWorldServiceImpl">
		<constructor-arg ref="HelloRepository"></constructor-arg>
	</bean>

	<bean id="HelloRepository"
		class="com.example.training.repository.HelloWorldRepositoryImpl" />


</beans>